<app-opening-screen></app-opening-screen>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar fadeInDown animated">
      <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="textFromSearchbar" (keydown.enter)="search()">
      <button class="search_icon" (click)="search()"><i class="fas fa-search"></i></button>
    </div>
  </div>
</div>
<!--<div class="data-box">-->
<div *ngFor="let track of tracks" class="contain fadeIn animated" align="center">

  <div class="box" (click)="navigateToTrackDetails(track._id)">
    <p>Utwór</p>
    <h1>{{track.name}}</h1>
    <p>{{track.description}}</p>
  </div>
</div>

<div *ngFor="let band of bands" class="contain fadeIn animated" align="center">
  <div class="box" (click)="navigateToBandDetails(band._id)">
    <p>Zespół</p>
    <h1>{{band.name}}</h1>
    <p>{{band.description}}</p>
  </div>
</div>

<div *ngFor="let album of albums" class="contain fadeIn animated" align="center">
  <div class="box" (click)="navigateToAlbumDetails(album._id)">
    <p>Album</p>
    <h1>{{album.name}}</h1>
    <p>{{album.description}}</p>
  </div>
</div>
<!--</div>-->
