<app-opening-screen></app-opening-screen>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar fadeInDown animated">
      <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="textFromSearchbar"
             (keydown.enter)="search()">
      <button class="search_icon" (click)="search()"><i class="fas fa-search"></i></button>
    </div>
  </div>
</div>
<!--<div *ngIf="tracks.length===0" class="no-data">Brak wyników wyszukiwania</div>-->
<div *ngIf="tracks.length===0" class="no-data">Brak wyników wyszukiwania</div>
<div *ngIf="tracks.length>0" class="no-data">Utwory</div>
<div *ngFor="let track of tracks" class="contain fadeIn animated" align="center">
  <div class="box" (click)="navigateToTrackDetails(track.spotifyId)">
    <div class="image">
      <iframe class='track-preview' [src]='getPreviewUrl(track.spotifyId)' frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="text-info">
        <h1>{{track.name}}</h1>
        <p>{{track.bandName}}</p>
    </div>
  </div>

</div>
<div *ngIf="bands.length>0" class="no-data">Zespoły</div>
<div *ngFor="let band of bands" class="contain fadeIn animated" align="center">
  <div class="box" (click)="navigateToBandDetails(band.spotifyId)">
    <div class="image">
            <img src="{{band.imgUrl}}" width="150px" height="150px">
    </div>
    <div class="text-info">
      <h1>{{band.name}}</h1>
    </div>
  </div>
</div>

<!--<div *ngFor="let album of albums" class="contain fadeIn animated" align="center">-->
<!--  <div class="box" (click)="navigateToAlbumDetails(album._id)">-->
<!--    <p>Album</p>-->
<!--    <h1>{{album.name}}</h1>-->
<!--    <p>{{album.description}}</p>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
