.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.2s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.2s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_input:focus {
  padding: 0 10px;
  width: 450px;
  caret-color: rgba(201, 0, 78, 1);
}

.search_input:active > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background: none;
  border: none;
  outline: none;
}

.contain {
  width: 100%;
  height: 100%;
}

.box {
  border: 1px solid #353b48;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding: 10px;
  width: 500px;
  background-color: rgba(53, 59, 72, 0.5);
  margin-bottom:15px;
  transition: .2s;
}

.box:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #e74c3c;
  filter: blur(3px);
  transition: .2s;
  transform: scale(.9);
  z-index: -1;
}

.box:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #e74c3c;
  filter: blur(3px);
}

.box:hover {
  cursor: pointer;
  background-color: rgba(53, 59, 72, 1);
  box-shadow: 0 0 15px #e74c3c;
  transform: scale(1.05);
}


.image {
  display: block;
  float: left;
  box-shadow: 0 0 15px #e74c3c;
}

.text-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: center;
  text-align: left;
  margin-bottom: 0px;
}

.track-preview{
  display: block;
  height: 80px;
  width: 80px;
  background-color: transparent;
}

h1 {
  color: navajowhite;
  font-weight: bold;
  font-size: 24px;
}

p {
  color: white;
  margin: 0;
}

.no-data {
  margin-top:10px;
  text-align: center;
  font-weight: bold;
}
