.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.2s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.2s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_input:focus {
  padding: 0 10px;
  width: 450px;
  caret-color: rgba(201, 0, 78, 1);
}

.search_input:active > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  margin-left: -2px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background: none;
  border: none;
  outline: none;
}

.scroll-to-top{
  width:50px;
  height: 50px;
  position: fixed;
  z-index: 9;
  background: #353b48;
  right: 50px;
  bottom: 50px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  border: 3px #353b48 solid;
  outline: none;
  color: white;
  transition: .2s;
}

.scroll-to-top:hover:before {
  transform: scale(1.2);
  filter: blur(3px);
}

.scroll-to-top:hover {
  cursor: pointer;
  transform: scale(1.35);
}

.box {
   border: 1px solid #353b48;
   border-radius: 10px;
   margin-top: 15px;
   padding: 10px;
   width: 500px;
   background-color: rgba(53, 59, 72, 0.5);
   margin-bottom:15px;
   transition: .2s;
 }

.box:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #e74c3c;
  filter: blur(3px);
  transition: .2s;
  transform: scale(.9);
  z-index: -1;
}

.box:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #e74c3c;
  filter: blur(3px);
}

.box:hover {
  cursor: pointer;
  background-color: rgba(53, 59, 72, 1);
  box-shadow: 0 0 15px #e74c3c;
  transform: scale(1.05);
}


.album {
  height: 80px;
  width: 80px;
  float: left;
  box-shadow: 0 0 15px #e74c3c;
}

.image {
  height: 80px;
  width: 80px;
}

.box:hover .overlay{
  opacity: 1;
  background-color: rgba(0,0,0, 0.5);
  transition: .5s;
}

.track-preview{
  height: 80px;
  width: 80px;
  background-color: transparent;
  position: absolute;
  z-index: 999;
  margin-left: -80px;
}

.overlay {
  position: absolute;
  height: 80px;
  width: 80px;
  padding-top: 5px;
  opacity: 0;
  z-index: 999;
  margin-top: -80px;
  background-color: #353b48;
}

.band-image {
  display: block;
  float: left;
  box-shadow: 0 0 15px #e74c3c;
}


.text-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: center;
  text-align: left;
  margin-bottom: 0px;
}

.rating {
  flex-direction: column;
  margin-top: 20px;
}

.login-form{
  position: fixed;
  right:50px;
  top: 100px;
  animation-delay: 1s;
  z-index: 9;
}

h1 {
  color: navajowhite;
  font-weight: bold;
  font-size: 24px;
}

p {
  color: white;
  margin: 0;
}

h4 {
  color: white;
  font-size: 16px;
}

.no-data {
  margin-top:10px;
  text-align: center;
  font-weight: bold;
}

.flush-local-storage{
  width:50px;
  height: 50px;
  position: fixed;
  z-index: 9;
  background: #353b48;
  left: 50px;
  bottom: 50px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  border: 3px #353b48 solid;
  outline: none;
  color: white;
  transition: .2s;
}

.flush-local-storage:hover:before {
  transform: scale(1.2);
  filter: blur(3px);
}

.flush-local-storage:hover {
  cursor: pointer;
  transform: scale(1.35);
}
