<div class="pos-f-t">
  <nav class="navbar navbar-dark fixed-top">
    <ul>
      <li>
        <button class="to-main-button to-main-button--light fadeInDown animated" type="button" (click)="navigateToHome()" value="Go Home">
          <img class="to-main-button__img" src="../../../assets/images/mw_logo.PNG" width="33" height="33">
          Musicweb
        </button>
      </li>
    </ul>
    <button class ="user-button user-button--light" type="button">
      <button class="user_icon" (click)="navigateToUserDetails()"><i class="fas fa-user-circle fa-2x"></i></button>
    </button>
  </nav>
</div>


