<div class="fadeIn faster animated p-5">
  <div class="object-details-container fadeIn faster animated d-flex">
    <div *ngIf="true" class="full-width">
    <img class="profile-img">
    <div class="object-info">
      <h1>Tomasz Dudek</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia
        in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper
        justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero
        dui id orci.</p>
    </div>
    <div class="object-favourites">
      **Tutaj będzie lista ulubionych zespołów/utworów**
    </div>
    <div class="object-playlists">
      **Tutaj będzie playlista użytkownika**
    </div>
    <div class="object-activity">
      **Tutaj będą ostatnie komentarze/oceny/polubienia**
    </div>
    </div>
  </div>
</div>
