<h2 style="text-align: center">EXAMPLE</h2>
<div class="object-details-container fadeIn faster animated">
  <img class="profile-img">
  <div class="object-info">
    <h1>Lukasz Stanislawowski</h1>
    <p>Some info about Lukasz </p>
  </div>
  <div class="object-favourites">
    Here will be list of favourites bands tracks etc.
  </div>
  <div class="object-playlists">
    Here will be users playlists.
  </div>
  <div class="object-activity">
    Here will be users last comments/rates/likes.
  </div>
</div>
