<div class="object-details-container fadeIn animated">
  <div *ngIf="track$ | async as track">
    <div class="box">
      <p>Track Details</p>
      <h1>{{track.name}}</h1>
      <div class="profile-img"></div>
      <div class="object-info">
        Description
        <h4>{{track.description}}</h4>
        Category
        <h4>{{track.category}}</h4></div>
      <div class="object-relatives"></div>
      <div class="object-rate"></div>
      <div class="object-comments"></div>
    </div>
  </div>
</div>
